{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center" style="height: 100px">
        <h1>{{race.getName()}}</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 35px">
        <h2>{{ race.getDate()|date("d-m-Y") }}</h2>
    </div>

    <div class="d-flex align-items-center justify-content-center" >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for time in times %}
                    <tr>
                        <th scope="row">{{ time.getPosition() }}</th>
                        <td><a href="{{ path('app_driver', {'id': time.getDrivers().getId()}) }}">{{ time.getDrivers().getEmail() }}</a></td>
                        <td>{{ time.getTime()|date("H:i:s") }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
