{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center" style="height: 35px">
        <h2>{{ race.getName() }}</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="height: 35px">
        <h4>data: {{ race.getDate()|date("d-m-Y") }}</h4>
    </div>



    <div class="d-flex align-items-center justify-content-center" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">pozycja</th>
                <th scope="col">kierowca</th>
                <th scope="col">czas</th>
            </tr>
            </thead>
            <tbody>
            {% for time in times %}
                <tr>
                    <th scope="row">{{ time.getPosition() }}</th>
                    <td>{{ time.getDrivers().getEmail() }}</td>
                    <td>{{ time.getTime()|date("H:i:s") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
