{% extends 'base.html.twig' %}

{% block title %}Hello RaceController!{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-center" style="height: 35px">
        <h2>{{ driverEmail }}</h2>
    </div>

    <div class="d-flex align-items-center justify-content-center" style="height: 35px">
        <h3>Wyścigi: </h3>
    </div>


    <div class="d-flex align-items-center justify-content-center" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">pozycja</th>
                <th scope="col">wyscig</th>
                <th scope="col">czas</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <th scope="row">{{ result.getPosition() }}</th>
                    <td><a style="" href="{{ path('app_show_one_race',{'id':result.getRaceId()}) }}">
                            {{ result.getRaceName() }}</a></td>
                    <td>{{ result.getRaceTime()|date("H:i:s") }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
